{% extends 'base.html' %}

{% block map %}

<div class="container-fluid my-5">
  <section>
    
    <style>
      
      .map-container {
        overflow:hidden;
        position:relative;
        height:0;
      }
      .map-container iframe {
        left:0;
        top:0;
        height:100%;
        width:100%;
        position:absolute;
      }
      
    </style>

    <!-- Card -->
    <div class="card my-5">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-6">

          <!-- Google map -->
          <div id="map-container-google-1" class="map-container rounded" style="height: 400px">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.9781915126164!2d0.7957138295850424!3d6.133632379049968!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x10213c66efd7b837%3A0x1e3bc2d8ca47f7b8!2sMega%20Multimedia!5e0!3m2!1sen!2sgh!4v1573253942154!5m2!1sen!2sgh" frameborder="0"
              style="border:0" allowfullscreen></iframe>
          </div>
          <!-- Google Maps -->

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-10 col-md-4 mx-auto align-self-center py-4">

          <p class="text-uppercase small grey-text"><strong>Head Office</strong></p>
          <h5 class="font-weight-normal mb-4">Akatsi</h5>
          <p class="text-muted font-weight-light">4QMX+P4 Akatsi<br>Near Global Evangelical Church</p>
          <p class="text-muted font-weight-light mb-0">Phone: +233 024 312 1622<br>Email: innocentdunyo@yahoo.com</p>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Card -->

  </section>

</div>

{% endblock map%}